<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <title>Opryland Museum</title>
</head>
<body>
    <section class="showcase">
        <header>
            <h2 class="logo">Opryland Museum</h2>
            <div class="toggle"></div>
        </header>

        <video src="{{ url_for('static',filename='videos/opryland_1.mp4') }}" muted loop autoplay></video>

        <div class ="overlay"></div>

        <div class="text">
            <h2>Experience</h2>
            <h3>The Nostalgia</h3>
            <p>Opryland Museum is an online historical site to emulate the classical Opryland experience that wonderfully existed in Nashville ,TN from 1974 to 1997. Click below to experience the Full Tour (strong internet connection encouranged) or click the side menu for more pages to explore!</p>
            <a href="#">Full Tour</a>
        </div>

        <ul class="social">
            <li><a href="#"><img src="{{ url_for('static',filename='icons/facebook.svg') }}" alt=""></a></li>
            <li><a href="#"><img src="{{ url_for('static',filename='icons/twitter.svg') }}" alt=""></a></li>
            <li><a href="#"><img src="{{ url_for('static',filename='icons/instagram.svg') }}" alt=""></a></li>
        </ul>
    </section>

    <div class="menu">
        <ul>
            <li id="oprylandlogo"><img src="{{ url_for('static',filename='images/Opryland_logo_1.jpg') }}" alt=""></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Our Collections</a></li>
            <li><a href="#">Park Summary</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>

    <script>
        const menuToggle = document.querySelector('.toggle')
        const showcase = document.querySelector('.showcase')

        menuToggle.addEventListener('click', () => {
            menuToggle.classList.toggle('active')
            showcase.classList.toggle('active')
        })
    </script>
</body>
</html>